In [1]:
from data_loader import load_data
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')


path = 'survey_data/survey_0426.xlsx'

df, nan_ids = load_data(path)

In [2]:
df

,annotator_ID,video_url,comment,other_text_entry,concern_wildlife,concern_human,appreciation_wildlife,appreciation_human,call_to_action,specific_or_vague,Appreciation,Concern,Neither,Other
0,5dd72efa82569a6d38e06854,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,,,,1.0,-1.0,No,,1,0,0,0
1,652940613511888d1ad5c864,DInpndlGSWE,Definitely don't show the cheetah running in r...,The commenter is stating his annoyance at not ...,,,1.0,-1.0,No,,1,0,0,1
2,57b60487e5b60d0001083aea,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",,,,2.0,2.0,No,,1,0,0,0
3,5bcbde9d08a62c0001f86bd0,bohYqYAFWKw,A siberian tiger would actually put up a good ...,,,,,,No,,0,0,1,0
4,5dd5c04f86c88658b24d4cde,dAS7Aa0CCDU,alligators are all too common here and monster...,,,,,,No,,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,5700616b8a49c7000d0c73ad,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,,2.0,-1.0,,,Yes,Specific,0,1,0,0
8796,5c69f9dd4b5bb30001b3d31c,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,,,,1.0,-1.0,No,,1,0,0,0
8797,65c25e3de8b230c294f2b32c,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,,,,1.0,-1.0,No,,1,0,0,0
8798,5df2f36b617219204de98060,l1bMokacmsY,"I love internet conservationists, I can almost...",,,,,,No,,0,0,1,0
8799,5e649034feba20212bb729db,UXb8S4weykM,DO MORE OWLS ! Please!,,,,,,Yes,Vague,0,0,1,0

In [3]:
# comments_duplicated_2 = df.groupby(['video_url', 'comment']).filter(lambda x: len(x) < 3)
# comments_duplicated_2[['concern_wildlife','concern_human', 'appreciation_wildlife', 'appreciation_human']] = 0
# comments_duplicated_2['call_to_action'] = 'No'
# comments_duplicated_2

In [4]:
# comments_duplicated = df.groupby(['video_url', 'comment']).filter(lambda x: len(x) >= 3)

# def drop_row(group):
#     return group.iloc[:3]

# comments_duplicated_3 = comments_duplicated.groupby(['video_url', 'comment'], group_keys=False).head(3).reset_index()
# comments_duplicated_3

grouped = df.groupby(['video_url', 'comment'])
comments_duplicated_3 = grouped.filter(lambda x: len(x) >= 3)
comments_duplicated_3 = comments_duplicated_3.groupby(['video_url', 'comment']).head(3).reset_index()

In [5]:
new_df = comments_duplicated_3
new_df = new_df[new_df['video_url'] != 0]
new_df

,index,annotator_ID,video_url,comment,other_text_entry,concern_wildlife,concern_human,appreciation_wildlife,appreciation_human,call_to_action,specific_or_vague,Appreciation,Concern,Neither,Other
0,0,5dd72efa82569a6d38e06854,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,,,,1.0,-1.0,No,,1,0,0,0
1,1,652940613511888d1ad5c864,DInpndlGSWE,Definitely don't show the cheetah running in r...,The commenter is stating his annoyance at not ...,,,1.0,-1.0,No,,1,0,0,1
2,2,57b60487e5b60d0001083aea,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",,,,2.0,2.0,No,,1,0,0,0
3,3,5bcbde9d08a62c0001f86bd0,bohYqYAFWKw,A siberian tiger would actually put up a good ...,,,,,,No,,0,0,1,0
4,4,5dd5c04f86c88658b24d4cde,dAS7Aa0CCDU,alligators are all too common here and monster...,,,,,,No,,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7102,8792,55d35935da14d7001295326b,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,,,,1.0,-1.0,No,,1,0,0,0
7103,8793,629e241d171ec6698e05f149,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,,2.0,1.0,,,No,,0,1,0,0
7104,8795,5700616b8a49c7000d0c73ad,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,,2.0,-1.0,,,Yes,Specific,0,1,0,0
7105,8796,5c69f9dd4b5bb30001b3d31c,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,,,,1.0,-1.0,No,,1,0,0,0
7106,8797,65c25e3de8b230c294f2b32c,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,,,,1.0,-1.0,No,,1,0,0,0

## Appreciation for Wildlife

In [6]:
# df_appreciation_wl = new_df[['video_url', 'comment', 'appreciation_wildlife']]
# df_appreciation_wl

In [7]:
# df_appreciation_wl = df_appreciation_wl[['video_url','comment','appreciation_wildlife']].replace('',0)

In [8]:
# conditions = [
#     df_appreciation_wl['appreciation_wildlife'] >= 1,
#     df_appreciation_wl['appreciation_wildlife'] < 1
# ]
# choices = [1, 0]

# df_appreciation_wl['appreciation_wildlife'] = np.select(conditions, choices, default=df_appreciation_wl['appreciation_wildlife'])
# df_appreciation_wl

In [9]:
# df_appreciation_wl_majority = df_appreciation_wl.groupby(['video_url', 'comment'])['appreciation_wildlife'].agg(lambda x: x.mode().iloc[0]).reset_index()
# df_appreciation_wl_majority

In [10]:
df_appreciation_wl = new_df[['video_url', 'comment', 'appreciation_wildlife']]
df_appreciation_wl = df_appreciation_wl[['video_url','comment','appreciation_wildlife']].replace('',0)
df_appreciation_wl = df_appreciation_wl[df_appreciation_wl['video_url'] != 0]

conditions = [
    df_appreciation_wl['appreciation_wildlife'] >= 1,
    df_appreciation_wl['appreciation_wildlife'] < 1
]
choices = [1, 0]

df_appreciation_wl['appreciation_wildlife'] = np.select(conditions, choices, default=df_appreciation_wl['appreciation_wildlife'])
df_appreciation_wl_majority = df_appreciation_wl.groupby(['video_url', 'comment'])['appreciation_wildlife'].agg(lambda x: x.mode().iloc[0]).reset_index()
df_appreciation_wl_majority

,video_url,comment,appreciation_wildlife
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0.0
1,-2z-CCvvm0o,Bless your kind hearts.,0.0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",1.0
3,-2z-CCvvm0o,So cute,1.0
4,-2z-CCvvm0o,So lovely and sweet.......,1.0
...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,1.0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0.0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0.0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0.0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,1.0

In [11]:
df_appreciation_wl_majority.groupby('appreciation_wildlife').count().reset_index()

   appreciation_wildlife  video_url  comment
0                    0.0       1517     1517
1                    1.0        852      852

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000) 

tfidf_matrix = vectorizer.fit_transform(df_appreciation_wl_majority['comment'])

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')

labels = df_appreciation_wl_majority[['appreciation_wildlife']]
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, labels, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate predictions
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)
print("f1_score:", f1)
print("precision:", precision)
print("recall:", recall)
print("accuracy:", accuracy)

f1_score: 0.592057761732852
precision: 0.803921568627451
recall: 0.4685714285714286
accuracy: 0.7616033755274262

## Appreciation for Human

In [14]:
# df_appreciation_hm = new_df[['video_url', 'comment', 'appreciation_human']]
# df_appreciation_hm

In [15]:
# df_appreciation_hm['appreciation_human'] = df_appreciation_hm['appreciation_human'].mask(df_appreciation_hm['appreciation_human'] == '', 0)

In [16]:
# conditions = [
#     df_appreciation_hm['appreciation_human'] >= 1,
#     df_appreciation_hm['appreciation_human'] < 1
# ]
# choices = [1, 0]

# df_appreciation_hm['appreciation_human'] = np.select(conditions, choices, default=df_appreciation_hm['appreciation_human'])
# df_appreciation_hm

In [17]:
# df_appreciation_hm_majority = df_appreciation_hm.groupby(['video_url', 'comment'])['appreciation_human'].agg(lambda x: x.mode().iloc[0]).reset_index()
# df_appreciation_hm_majority

In [18]:
df_appreciation_hm = new_df[['video_url', 'comment', 'appreciation_human']]
df_appreciation_hm['appreciation_human'] = df_appreciation_hm['appreciation_human'].mask(df_appreciation_hm['appreciation_human'] == '', 0)
df_appreciation_hm = df_appreciation_hm[df_appreciation_hm['video_url'] != '']

conditions = [
    df_appreciation_hm['appreciation_human'] >= 1,
    df_appreciation_hm['appreciation_human'] < 1
]
choices = [1, 0]

df_appreciation_hm['appreciation_human'] = np.select(conditions, choices, default=df_appreciation_hm['appreciation_human'])
df_appreciation_hm_majority = df_appreciation_hm.groupby(['video_url', 'comment'])['appreciation_human'].agg(lambda x: x.mode().iloc[0]).reset_index()
df_appreciation_hm_majority

,video_url,comment,appreciation_human
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,1
1,-2z-CCvvm0o,Bless your kind hearts.,1
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",1
3,-2z-CCvvm0o,So cute,0
4,-2z-CCvvm0o,So lovely and sweet.......,0
...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,1
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,1
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,1

In [19]:
df_appreciation_hm_majority.groupby('appreciation_human').count().reset_index()

   appreciation_human  video_url  comment
0                   0       1744     1744
1                   1        625      625

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000) 

tfidf_matrix = vectorizer.fit_transform(df_appreciation_hm_majority['comment'])

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')

labels = df_appreciation_hm_majority[['appreciation_human']]
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, labels, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate predictions
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)
print("f1_score:", f1)
print("precision:", precision)
print("recall:", recall)
print("accuracy:", accuracy)

f1_score: 0.5797101449275363
precision: 0.6976744186046512
recall: 0.49586776859504134
accuracy: 0.8164556962025317

## Concern for Wildlife

In [22]:
# df_concern_wl = new_df[['video_url','comment', 'concern_wildlife']]
# df_concern_wl['concern_wildlife'] = df_concern_wl['concern_wildlife'].mask(df_concern_wl['concern_wildlife'] == '', 0)

# conditions = [
#     df_concern_wl['concern_wildlife'] >= 1,
#     df_concern_wl['concern_wildlife'] < 1
# ]
# choices = [1, 0]

# df_concern_wl['concern_wildlife'] = np.select(conditions, choices, default=df_concern_wl['concern_wildlife'])
# df_concern_wl

In [23]:
# df_concern_wl_majority = df_concern_wl.groupby(['video_url', 'comment'])['concern_wildlife'].agg(lambda x: x.mode().iloc[0]).reset_index()
# df_concern_wl_majority

In [24]:
df_concern_wl = new_df[['video_url','comment', 'concern_wildlife']]
df_concern_wl['concern_wildlife'] = df_concern_wl['concern_wildlife'].mask(df_concern_wl['concern_wildlife'] == '', 0)
df_concern_wl = df_concern_wl[df_concern_wl['video_url'] != '']

conditions = [
    df_concern_wl['concern_wildlife'] >= 1,
    df_concern_wl['concern_wildlife'] < 1
]
choices = [1, 0]

df_concern_wl['concern_wildlife'] = np.select(conditions, choices, default=df_concern_wl['concern_wildlife'])
df_concern_wl_majority = df_concern_wl.groupby(['video_url', 'comment'])['concern_wildlife'].agg(lambda x: x.mode().iloc[0]).reset_index()
df_concern_wl_majority

,video_url,comment,concern_wildlife
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0
1,-2z-CCvvm0o,Bless your kind hearts.,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",0
3,-2z-CCvvm0o,So cute,0
4,-2z-CCvvm0o,So lovely and sweet.......,0
...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,0

In [25]:

df_concern_wl_majority.groupby('concern_wildlife').count().reset_index()

   concern_wildlife  video_url  comment
0                 0       2036     2036
1                 1        333      333

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000) 

tfidf_matrix = vectorizer.fit_transform(df_concern_wl_majority['comment'])

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')

labels = df_concern_wl_majority[['concern_wildlife']]
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, labels, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate predictions
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)
print("f1_score:", f1)
print("precision:", precision)
print("recall:", recall)
print("accuracy:", accuracy)

f1_score: 0.15584415584415587
precision: 1.0
recall: 0.08450704225352113
accuracy: 0.8628691983122363

## Concern for Human

In [28]:
# df_concern_hm = new_df[['video_url','comment', 'concern_human']]
# df_concern_hm['concern_human'] = df_concern_hm['concern_human'].mask(df_concern_hm['concern_human'] == '', 0)

# conditions = [
#     df_concern_hm['concern_human'] >= 1,
#     df_concern_hm['concern_human'] < 1
# ]
# choices = [1, 0]

# df_concern_hm['concern_human'] = np.select(conditions, choices, default=df_concern_hm['concern_human'])
# df_concern_hm

In [29]:
# df_concern_hm_majority = df_concern_hm.groupby(['video_url', 'comment'])['concern_human'].agg(lambda x: x.mode().iloc[0]).reset_index()
# df_concern_hm_majority

In [84]:
df_concern_hm = new_df[['video_url','comment', 'concern_human']]
df_concern_hm['concern_human'] = df_concern_hm['concern_human'].mask(df_concern_hm['concern_human'] == '', 0)
df_concern_hm = df_concern_hm[df_concern_hm['video_url'] != '']

conditions = [
    df_concern_hm['concern_human'] >= 1,
    df_concern_hm['concern_human'] < 1
]
choices = [1, 0]

df_concern_hm['concern_human'] = np.select(conditions, choices, default=df_concern_hm['concern_human'])
df_concern_hm

,video_url,comment,concern_human
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [86]:
df_concern_hm.groupby('concern_human').count().reset_index()

   concern_human  video_url  comment
0              0       6830     6830
1              1        277      277

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000) 

tfidf_matrix = vectorizer.fit_transform(df_concern_hm_majority['comment'])

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')

labels = df_concern_hm_majority[['concern_human']]
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, labels, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate predictions
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)
print("f1_score:", f1)
print("precision:", precision)
print("recall:", recall)
print("accuracy:", accuracy)

f1_score: 0.0
precision: 0.0
recall: 0.0
accuracy: 0.9725738396624473

## Call to Action

In [34]:
df_call = new_df[['video_url', 'comment', 'call_to_action']]
df_call['call_to_action'] = df_call['call_to_action'].replace({'No': 0, 'Yes': 1})
df_call

,video_url,comment,call_to_action
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [35]:
df_call_majority = df_call.groupby(['video_url', 'comment'])['call_to_action'].agg(lambda x: x.mode().iloc[0]).reset_index()
df_call_majority = df_call_majority[df_call_majority['video_url'] != '']
df_call_majority

,video_url,comment,call_to_action
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0
1,-2z-CCvvm0o,Bless your kind hearts.,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",0
3,-2z-CCvvm0o,So cute,0
4,-2z-CCvvm0o,So lovely and sweet.......,0
...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,0

In [36]:
df_call_majority.groupby('call_to_action').count().reset_index()

   call_to_action  video_url  comment
0               0       2214     2214
1               1        155      155

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=1000) 

tfidf_matrix = vectorizer.fit_transform(df_call_majority['comment'])

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')

labels = df_call_majority[['call_to_action']]
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, labels, test_size=0.2, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate predictions
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
f1 = f1_score(y_test, predictions)
precision = precision_score(y_test, predictions)
recall = recall_score(y_test, predictions)
accuracy = accuracy_score(y_test, predictions)
print("f1_score:", f1)
print("precision:", precision)
print("recall:", recall)
print("accuracy:", accuracy)

f1_score: 0.06666666666666667
precision: 1.0
recall: 0.034482758620689655
accuracy: 0.9409282700421941

## fleiss_kappa & Krippendorf's alpha

In [39]:
df_appreciation_wl = new_df[['video_url', 'comment', 'appreciation_wildlife']]
df_appreciation_wl = df_appreciation_wl[['video_url','comment','appreciation_wildlife']].replace('',0)

conditions = [
    df_appreciation_wl['appreciation_wildlife'] > 0,
    df_appreciation_wl['appreciation_wildlife'] <= 0
]
choices = [1, 0]

df_appreciation_wl['appreciation_wildlife'] = np.select(conditions, choices, default=df_appreciation_wl['appreciation_wildlife'])
df_appreciation_wl

,video_url,comment,appreciation_wildlife
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,1.0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,1.0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",1.0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0.0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0.0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0.0
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0.0
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0

In [40]:
df_appreciation_wl['Appreciation Count'] = df_appreciation_wl.groupby(['video_url', 'comment']).cumcount() + 1

# Group by comment and Appreciation Count, then unstack
df_pivot = df_appreciation_wl.groupby(['video_url','comment', 'Appreciation Count'])['appreciation_wildlife'].aggregate('sum').unstack()

# Fill NaN values with 0, since they indicate no ratings were given
df_pivot = df_pivot.fillna(0)

# Convert to integers if not already
df_pivot = df_pivot.astype(int)

# Rename columns to match the expected format
df_pivot.columns = [f'Appreciation {i}' for i in range(1, len(df_pivot.columns) + 1)]

# Reset index to make 'comment' a column again if needed
df_pivot.reset_index(inplace=True)

df_pivot

,video_url,comment,Appreciation 1,Appreciation 2,Appreciation 3
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0,1,0
1,-2z-CCvvm0o,Bless your kind hearts.,0,0,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",1,1,1
3,-2z-CCvvm0o,So cute,1,1,1
4,-2z-CCvvm0o,So lovely and sweet.......,1,1,1
...,...,...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,1,1,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,1,0,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0,0,0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0,0,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,1,1,0

In [41]:



from statsmodels.stats.inter_rater import fleiss_kappa

# Drop the 'video_url' column as it's not needed for the calculation
df_for_kappa = df_pivot.drop(columns=['video_url'])

df_for_kappa = df_for_kappa.set_index('comment')
df_for_kappa = df_for_kappa.apply(pd.value_counts, axis=1).fillna(0)

# Now calculate Fleiss' Kappa
kappa = fleiss_kappa(df_for_kappa)

print('Fleiss Kappa:', kappa)

Fleiss Kappa: 0.5296129464798586

In [42]:
import krippendorff

# Assuming you've already loaded your DataFrame as df_pivot and dropped the 'video_url' column
df_for_alpha = df_pivot.drop(columns=['video_url'])

# The DataFrame for Krippendorff's Alpha should be in the format of:
# rows are units, columns are raters, and cells contain the ratings
df_for_alpha = df_for_alpha.set_index('comment')

# Now we'll prepare the data in the correct format for krippendorff.alpha
# Convert the DataFrame to a format where each row is an item and each column is a rater's scores
alpha_data = df_for_alpha.T.to_numpy()

# Calculate Krippendorff's Alpha for nominal metric
alpha = krippendorff.alpha(alpha_data, level_of_measurement='nominal')

print('Krippendorff\'s Alpha:', alpha)

Krippendorff's Alpha: 0.5296791329232975

In [43]:
df_alpha_aw = new_df[['video_url', 'comment', 'appreciation_wildlife']]
value_counts = df_alpha_aw['appreciation_wildlife'].value_counts()
value_counts

appreciation_wildlife
        3430
1.0     1417
2.0     1155
-1.0     703
-2.0     402
Name: count, dtype: int64

In [44]:
df_alpha_aw['appreciation_wildlife'] = pd.to_numeric(df_alpha_aw['appreciation_wildlife'], errors='coerce')
conditions = [
    df_alpha_aw['appreciation_wildlife'] > 0,
    df_alpha_aw['appreciation_wildlife'] <= 0
]
choices = [1, 0]

df_alpha_aw['appreciation_wildlife'] = np.where(
    df_alpha_aw['appreciation_wildlife'] != '',
    np.select(conditions, choices, default=df_alpha_aw['appreciation_wildlife']),
    df_alpha_aw['appreciation_wildlife']
)

df_alpha_aw['Appreciation Count'] = df_alpha_aw.groupby(['video_url', 'comment']).cumcount() + 1
df_alpha_aw

,video_url,comment,appreciation_wildlife,Appreciation Count
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,1.0,1
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,1.0,1
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",1.0,1
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,NaN,1
4,dAS7Aa0CCDU,alligators are all too common here and monster...,NaN,1
...,...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0,1
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,NaN,2
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,NaN,3
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0,2
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,1.0,3

In [45]:
import simpledorff

simpledorff.calculate_krippendorffs_alpha_for_df(df_alpha_aw,experiment_col='comment',
                                                 annotator_col='Appreciation Count',
                                                 class_col='appreciation_wildlife')

0.5613790446841294

In [46]:
df_for_kappa.groupby(1).count()

        0
1
0.0  1123
1.0   394
2.0   378
3.0   474

In [47]:
# Drop the non-numeric 'video_url' column and 'comment' as they are not needed for agreement calculation
df_agreement = df_pivot.drop(columns=['video_url', 'comment'])

# Count the number of items with unanimous agreement (all 0s or all 1s)
full_agreement = df_agreement[(df_agreement == 0).all(axis=1) | (df_agreement == 1).all(axis=1)].shape[0]

# Count the number of items with partial agreement (at least two raters in agreement)
# This is optional and just an example of what you might consider as partial agreement
partial_agreement = df_agreement[(df_agreement.sum(axis=1) >= 1) & (df_agreement.sum(axis=1) <= 2)].shape[0]

# Calculate the total number of items
total_items = df_agreement.shape[0]

# Calculate the percentage of total agreement
percentage_of_full_agreement = (full_agreement / total_items) * 100

# Optionally, calculate the percentage of partial agreement
percentage_of_partial_agreement = (partial_agreement / total_items) * 100

print(f'Percentage of Full Agreement: {percentage_of_full_agreement:.2f}%')
print(f'Percentage of Partial Agreement: {percentage_of_partial_agreement:.2f}% (at least two raters agree)')

Percentage of Full Agreement: 67.41%
Percentage of Partial Agreement: 32.59% (at least two raters agree)

In [48]:
df_appreciation_hm = new_df[['video_url', 'comment', 'appreciation_human']]
df_appreciation_hm['appreciation_human'] = df_appreciation_hm['appreciation_human'].mask(df_appreciation_hm['appreciation_human'] == '', 0)

conditions = [
    df_appreciation_hm['appreciation_human'] > 0,
    df_appreciation_hm['appreciation_human'] <= 0
]
choices = [1, 0]

df_appreciation_hm['appreciation_human'] = np.select(conditions, choices, default=df_appreciation_hm['appreciation_human'])
df_appreciation_hm

,video_url,comment,appreciation_human
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",1
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [49]:
df_appreciation_hm['Appreciation Count'] = df_appreciation_hm.groupby(['video_url', 'comment']).cumcount() + 1

# Group by comment and Appreciation Count, then unstack
df_pivot = df_appreciation_hm.groupby(['video_url','comment', 'Appreciation Count'])['appreciation_human'].aggregate('sum').unstack()

# Fill NaN values with 0, since they indicate no ratings were given
df_pivot = df_pivot.fillna(0)

# Convert to integers if not already
df_pivot = df_pivot.astype(int)

# Rename columns to match the expected format
df_pivot.columns = [f'Appreciation {i}' for i in range(1, len(df_pivot.columns) + 1)]

# Reset index to make 'comment' a column again if needed
df_pivot.reset_index(inplace=True)

df_pivot

,video_url,comment,Appreciation 1,Appreciation 2,Appreciation 3
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,1,1,1
1,-2z-CCvvm0o,Bless your kind hearts.,1,0,1
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",1,0,1
3,-2z-CCvvm0o,So cute,0,0,0
4,-2z-CCvvm0o,So lovely and sweet.......,0,0,1
...,...,...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0,0,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,1,1,1
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0,0,0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0,1,1
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,1,1,1

In [50]:
# Drop the 'video_url' column as it's not needed for the calculation
df_for_kappa = df_pivot.drop(columns=['video_url'])

# The DataFrame must have counts of each rating for each item, so it should be correct now.
# Let's make sure it's in the right format
df_for_kappa = df_for_kappa.set_index('comment')
df_for_kappa = df_for_kappa.apply(pd.value_counts, axis=1).fillna(0)

# Now calculate Fleiss' Kappa
kappa = fleiss_kappa(df_for_kappa)

print('Fleiss Kappa:', kappa)

Fleiss Kappa: 0.5803991465424158

In [51]:
import krippendorff

# Assuming you've already loaded your DataFrame as df_pivot and dropped the 'video_url' column
df_for_alpha = df_pivot.drop(columns=['video_url'])

# rows are units, columns are raters, and cells contain the ratings
df_for_alpha = df_for_alpha.set_index('comment')

# Now we'll prepare the data in the correct format for krippendorff.alpha
# Convert the DataFrame to a format where each row is an item and each column is a rater's scores
alpha_data = df_for_alpha.T.to_numpy()

# Calculate Krippendorff's Alpha for nominal metric
alpha = krippendorff.alpha(alpha_data, level_of_measurement='nominal')

print('Krippendorff\'s Alpha:', alpha)

Krippendorff's Alpha: 0.5804581870452243

In [52]:
df_alpha_ah = new_df[['video_url', 'comment', 'appreciation_human']]
value_counts = df_alpha_ah['appreciation_human'].value_counts()
value_counts

appreciation_human
        3430
-1.0    1431
2.0      986
1.0      878
-2.0     382
Name: count, dtype: int64

In [53]:
df_alpha_ah['appreciation_human'] = pd.to_numeric(df_alpha_ah['appreciation_human'], errors='coerce')

conditions = [
    df_alpha_ah['appreciation_human'] > 0,
    df_alpha_ah['appreciation_human'] <= 0
]
choices = [1, 0]

df_alpha_ah['appreciation_human'] = np.where(
    df_alpha_ah['appreciation_human'] != '',
    np.select(conditions, choices, default=df_alpha_ah['appreciation_human']),
    df_alpha_ah['appreciation_human']
)

df_alpha_ah['Appreciation Count'] = df_alpha_ah.groupby(['video_url', 'comment']).cumcount() + 1
df_alpha_ah

,video_url,comment,appreciation_human,Appreciation Count
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0.0,1
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0.0,1
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",1.0,1
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,NaN,1
4,dAS7Aa0CCDU,alligators are all too common here and monster...,NaN,1
...,...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0.0,1
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,NaN,2
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,NaN,3
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0.0,2
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0.0,3

In [54]:
import simpledorff

simpledorff.calculate_krippendorffs_alpha_for_df(df_alpha_ah,experiment_col='comment',
                                                 annotator_col='Appreciation Count',
                                                 class_col='appreciation_human')

0.7073096516595851

In [55]:
# Drop the non-numeric 'video_url' column and 'comment' as they are not needed for agreement calculation
df_agreement = df_pivot.drop(columns=['video_url', 'comment'])

# Count the number of items with unanimous agreement (all 0s or all 1s)
full_agreement = df_agreement[(df_agreement == 0).all(axis=1) | (df_agreement == 1).all(axis=1)].shape[0]

# Count the number of items with partial agreement (at least two raters in agreement)
# This is optional and just an example of what you might consider as partial agreement
partial_agreement = df_agreement[(df_agreement.sum(axis=1) >= 1) & (df_agreement.sum(axis=1) <= 2)].shape[0]

# Calculate the total number of items
total_items = df_agreement.shape[0]

# Calculate the percentage of total agreement
percentage_of_full_agreement = (full_agreement / total_items) * 100

# Optionally, calculate the percentage of partial agreement
percentage_of_partial_agreement = (partial_agreement / total_items) * 100

print(f'Percentage of Full Agreement: {percentage_of_full_agreement:.2f}%')
print(f'Percentage of Partial Agreement: {percentage_of_partial_agreement:.2f}% (at least two raters agree)')

Percentage of Full Agreement: 75.64%
Percentage of Partial Agreement: 24.36% (at least two raters agree)

In [56]:
df_concern_wl = new_df[['video_url','comment', 'concern_wildlife']]
df_concern_wl['concern_wildlife'] = df_concern_wl['concern_wildlife'].mask(df_concern_wl['concern_wildlife'] == '', 0)

conditions = [
    df_concern_wl['concern_wildlife'] >= 1,
    df_concern_wl['concern_wildlife'] < 1
]
choices = [1, 0]

df_concern_wl['concern_wildlife'] = np.select(conditions, choices, default=df_concern_wl['concern_wildlife'])
df_concern_wl

,video_url,comment,concern_wildlife
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [57]:
df_concern_wl['Concern Count'] = df_concern_wl.groupby(['video_url', 'comment']).cumcount() + 1

# Group by comment and Appreciation Count, then unstack
df_pivot = df_concern_wl.groupby(['video_url','comment', 'Concern Count'])['concern_wildlife'].aggregate('sum').unstack()

# Fill NaN values with 0, since they indicate no ratings were given
df_pivot = df_pivot.fillna(0)

# Convert to integers if not already
df_pivot = df_pivot.astype(int)

# Rename columns to match the expected format
df_pivot.columns = [f'Concern {i}' for i in range(1, len(df_pivot.columns) + 1)]

# Reset index to make 'comment' a column again if needed
df_pivot.reset_index(inplace=True)

df_pivot

,video_url,comment,Concern 1,Concern 2,Concern 3
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0,0,0
1,-2z-CCvvm0o,Bless your kind hearts.,0,0,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",0,0,0
3,-2z-CCvvm0o,So cute,0,0,0
4,-2z-CCvvm0o,So lovely and sweet.......,0,0,0
...,...,...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0,0,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0,0,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0,0,0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0,0,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,0,0,0

In [58]:
# Drop the 'video_url' column as it's not needed for the calculation
df_for_kappa = df_pivot.drop(columns=['video_url'])

# The DataFrame must have counts of each rating for each item, so it should be correct now.
# Let's make sure it's in the right format
df_for_kappa = df_for_kappa.set_index('comment')
df_for_kappa = df_for_kappa.apply(pd.value_counts, axis=1).fillna(0)

# Now calculate Fleiss' Kappa
kappa = fleiss_kappa(df_for_kappa)

print('Fleiss Kappa:', kappa)

Fleiss Kappa: 0.5683131067617411

In [59]:
import krippendorff

# Assuming you've already loaded your DataFrame as df_pivot and dropped the 'video_url' column
df_for_alpha = df_pivot.drop(columns=['video_url'])

# The DataFrame for Krippendorff's Alpha should be in the format of:
# rows are units, columns are raters, and cells contain the ratings
df_for_alpha = df_for_alpha.set_index('comment')

# Now we'll prepare the data in the correct format for krippendorff.alpha
# Convert the DataFrame to a format where each row is an item and each column is a rater's scores
alpha_data = df_for_alpha.T.to_numpy()

# Calculate Krippendorff's Alpha for nominal metric
alpha = krippendorff.alpha(alpha_data, level_of_measurement='nominal')

print('Krippendorff\'s Alpha:', alpha)

Krippendorff's Alpha: 0.5683738478470433

In [60]:
df_alpha_cw = new_df[['video_url', 'comment', 'concern_wildlife']]
value_counts = df_alpha_cw['concern_wildlife'].value_counts()
value_counts

concern_wildlife
        5880
1.0      559
2.0      490
-1.0     110
-2.0      68
Name: count, dtype: int64

In [61]:
df_alpha_cw['concern_wildlife'] = pd.to_numeric(df_alpha_cw['concern_wildlife'], errors='coerce')
conditions = [
    df_alpha_cw['concern_wildlife'] > 0,
    df_alpha_cw['concern_wildlife'] <= 0
]
choices = [1, 0]

df_alpha_cw['concern_wildlife'] = np.where(
    df_alpha_cw['concern_wildlife'] != '',
    np.select(conditions, choices, default=df_alpha_cw['concern_wildlife']),
    df_alpha_cw['concern_wildlife']
)

df_alpha_cw['Concern Count'] = df_alpha_cw.groupby(['video_url', 'comment']).cumcount() + 1
df_alpha_cw

,video_url,comment,concern_wildlife,Concern Count
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,NaN,1
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,NaN,1
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",NaN,1
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,NaN,1
4,dAS7Aa0CCDU,alligators are all too common here and monster...,NaN,1
...,...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,1
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1.0,2
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1.0,3
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,2
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,3

In [62]:
import simpledorff

simpledorff.calculate_krippendorffs_alpha_for_df(df_alpha_cw,experiment_col='comment',
                                                 annotator_col='Concern Count',
                                                 class_col='concern_wildlife')

0.573475064977258

In [63]:
# Drop the non-numeric 'video_url' column and 'comment' as they are not needed for agreement calculation
df_agreement = df_pivot.drop(columns=['video_url', 'comment'])

# Count the number of items with unanimous agreement (all 0s or all 1s)
full_agreement = df_agreement[(df_agreement == 0).all(axis=1) | (df_agreement == 1).all(axis=1)].shape[0]

# Count the number of items with partial agreement (at least two raters in agreement)
# This is optional and just an example of what you might consider as partial agreement
partial_agreement = df_agreement[(df_agreement.sum(axis=1) >= 1) & (df_agreement.sum(axis=1) <= 2)].shape[0]

# Calculate the total number of items
total_items = df_agreement.shape[0]

# Calculate the percentage of total agreement
percentage_of_full_agreement = (full_agreement / total_items) * 100

# Optionally, calculate the percentage of partial agreement
percentage_of_partial_agreement = (partial_agreement / total_items) * 100

print(f'Percentage of Full Agreement: {percentage_of_full_agreement:.2f}%')
print(f'Percentage of Partial Agreement: {percentage_of_partial_agreement:.2f}% (at least two raters agree)')

Percentage of Full Agreement: 83.71%
Percentage of Partial Agreement: 16.29% (at least two raters agree)

In [64]:
df_concern_hm = new_df[['video_url','comment', 'concern_human']]
df_concern_hm['concern_human'] = df_concern_hm['concern_human'].mask(df_concern_hm['concern_human'] == '', 0)

conditions = [
    df_concern_hm['concern_human'] >= 1,
    df_concern_hm['concern_human'] < 1
]
choices = [1, 0]

df_concern_hm['concern_human'] = np.select(conditions, choices, default=df_concern_hm['concern_human'])
df_concern_hm

,video_url,comment,concern_human
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [65]:
df_concern_hm['Concern Count'] = df_concern_hm.groupby(['video_url', 'comment']).cumcount() + 1

# Group by comment and Appreciation Count, then unstack
df_pivot = df_concern_hm.groupby(['video_url','comment', 'Concern Count'])['concern_human'].aggregate('sum').unstack()

# Fill NaN values with 0, since they indicate no ratings were given
df_pivot = df_pivot.fillna(0)

# Convert to integers if not already
df_pivot = df_pivot.astype(int)

# Rename columns to match the expected format
df_pivot.columns = [f'Concern {i}' for i in range(1, len(df_pivot.columns) + 1)]

# Reset index to make 'comment' a column again if needed
df_pivot.reset_index(inplace=True)

df_pivot

,video_url,comment,Concern 1,Concern 2,Concern 3
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0,0,0
1,-2z-CCvvm0o,Bless your kind hearts.,0,0,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",0,0,0
3,-2z-CCvvm0o,So cute,0,0,0
4,-2z-CCvvm0o,So lovely and sweet.......,0,0,0
...,...,...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0,0,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0,0,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0,0,0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0,0,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,0,0,0

In [66]:
# Drop the 'video_url' column as it's not needed for the calculation
df_for_kappa = df_pivot.drop(columns=['video_url', 'comment'])

df_for_kappa = df_for_kappa.apply(pd.value_counts, axis=1).fillna(0)

# Now calculate Fleiss' Kappa
kappa = fleiss_kappa(df_for_kappa)

print('Fleiss Kappa:', kappa)

Fleiss Kappa: 0.3088001014847402

In [67]:
import krippendorff

# Drop the 'video_url' column
df_for_alpha = df_pivot.drop(columns=['video_url'])

# rows are units, columns are raters, and cells contain the ratings
df_for_alpha = df_for_alpha.set_index('comment')

# Convert the DataFrame to a format where each row is an item and each column is a rater's scores
alpha_data = df_for_alpha.T.to_numpy()

# Calculate Krippendorff's Alpha for nominal metric
alpha = krippendorff.alpha(alpha_data, level_of_measurement='nominal')

print('Krippendorff\'s Alpha:', alpha)

Krippendorff's Alpha: 0.3088973576967191

In [68]:
df_alpha_ch = new_df[['video_url', 'comment', 'concern_human']]
value_counts = df_alpha_ch['concern_human'].value_counts()
value_counts

concern_human
        5880
-1.0     775
1.0      191
-2.0     175
2.0       86
Name: count, dtype: int64

In [69]:
df_alpha_ch['concern_human'] = pd.to_numeric(df_alpha_ch['concern_human'], errors='coerce')
conditions = [
    df_alpha_ch['concern_human'] > 0,
    df_alpha_ch['concern_human'] <= 0
]
choices = [1, 0]

df_alpha_ch['concern_human'] = np.where(
    df_alpha_ch['concern_human'] != '',
    np.select(conditions, choices, default=df_alpha_ch['concern_human']),
    df_alpha_ch['concern_human']
)

df_alpha_ch['Concern Count'] = df_alpha_ch.groupby(['video_url', 'comment']).cumcount() + 1
df_alpha_ch

,video_url,comment,concern_human,Concern Count
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,NaN,1
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,NaN,1
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",NaN,1
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,NaN,1
4,dAS7Aa0CCDU,alligators are all too common here and monster...,NaN,1
...,...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,1
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1.0,2
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0.0,3
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,2
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,NaN,3

In [70]:
value_counts = df_alpha_ch['concern_human'].value_counts()
nan_count = df_alpha_ch['concern_human'].isna().sum()
print('NA values:', nan_count)
value_counts

NA values: 5880

concern_human
0.0    950
1.0    277
Name: count, dtype: int64

In [71]:
import simpledorff

simpledorff.calculate_krippendorffs_alpha_for_df(df_alpha_ch,experiment_col='comment',
                                                 annotator_col='Concern Count',
                                                 class_col='concern_human')

0.5173658610731114

In [72]:
# Drop the non-numeric 'video_url' column and 'comment' as they are not needed for agreement calculation
df_agreement = df_pivot.drop(columns=['video_url', 'comment'])

# Count the number of items with unanimous agreement (all 0s or all 1s)
full_agreement = df_agreement[(df_agreement == 0).all(axis=1) | (df_agreement == 1).all(axis=1)].shape[0]

# Count the number of items with partial agreement (at least two raters in agreement)
# This is optional and just an example of what you might consider as partial agreement
partial_agreement = df_agreement[(df_agreement.sum(axis=1) >= 1) & (df_agreement.sum(axis=1) <= 2)].shape[0]

# Calculate the total number of items
total_items = df_agreement.shape[0]

# Calculate the percentage of total agreement
percentage_of_full_agreement = (full_agreement / total_items) * 100

# Optionally, calculate the percentage of partial agreement
percentage_of_partial_agreement = (partial_agreement / total_items) * 100

print(f'Percentage of Full Agreement: {percentage_of_full_agreement:.2f}%')
print(f'Percentage of Partial Agreement: {percentage_of_partial_agreement:.2f}% (at least two raters agree)')

Percentage of Full Agreement: 92.23%
Percentage of Partial Agreement: 7.77% (at least two raters agree)

In [73]:
df_for_kappa.groupby(1).count()

        0
1
0.0  2169
1.0   139
2.0    45
3.0    16

In [74]:
df_call = new_df[['video_url', 'comment', 'call_to_action']]
df_call['call_to_action'] = df_call['call_to_action'].replace({'No': 0, 'Yes': 1})
df_call

,video_url,comment,call_to_action
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [75]:
df_call

,video_url,comment,call_to_action
0,u9ua5MEWOxg,Real life zombies \nWith a most genious strate...,0
1,DInpndlGSWE,Definitely don't show the cheetah running in r...,0
2,l6biaeTBeIY,"Gutenabend Georg,\nWhat a wonderful ""Kudu"" at ...",0
3,bohYqYAFWKw,A siberian tiger would actually put up a good ...,0
4,dAS7Aa0CCDU,alligators are all too common here and monster...,0
...,...,...,...
7102,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7103,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,0
7104,gd7NUamzAQE,Elephant looks young - maybe looking for its m...,1
7105,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0
7106,UrxYNmHyqOU,6 wild dogs should be enough to scare any leop...,0

In [76]:
df_call['Call Count'] = df_call.groupby(['video_url', 'comment']).cumcount() + 1

# Group by comment and Appreciation Count, then unstack
df_pivot = df_call.groupby(['video_url','comment', 'Call Count'])['call_to_action'].aggregate('sum').unstack()

# Fill NaN values with 0, since they indicate no ratings were given
df_pivot = df_pivot.fillna(0)

# Convert to integers if not already
df_pivot = df_pivot.astype(int)

# Rename columns to match the expected format
df_pivot.columns = [f'Call {i}' for i in range(1, len(df_pivot.columns) + 1)]

# Reset index to make 'comment' a column again if needed
df_pivot.reset_index(inplace=True)

df_pivot

,video_url,comment,Call 1,Call 2,Call 3
0,-2z-CCvvm0o,Awwww Love Love love so much heart in this !!,0,0,0
1,-2z-CCvvm0o,Bless your kind hearts.,0,0,0
2,-2z-CCvvm0o,"Great video, the true meaning of life, to live...",0,0,0
3,-2z-CCvvm0o,So cute,0,0,0
4,-2z-CCvvm0o,So lovely and sweet.......,0,0,0
...,...,...,...,...,...
2364,zqxe8bt0FwQ,Itâ€™s hard to imagine the primal killing potent...,0,0,0
2365,zqxe8bt0FwQ,Much respect for being an ethical huntsman. I ...,0,0,0
2366,zqxe8bt0FwQ,"My dog and I came across a bobcat, and it stop...",0,0,0
2367,zqxe8bt0FwQ,Reminds me of my coyote hunts. Bobcats are pro...,0,0,0
2368,zqxe8bt0FwQ,Thank you so much for not kill this big cat. G...,0,0,0

In [77]:
# df_pivot['count'] = df_pivot['Call 1'] + df_pivot['Call 2'] + df_pivot['Call 3']
# df_pivot.sort_values(by='count', ascending=False, inplace=True)
# df_pivot[df_pivot['count'] >= 1].to_csv('call_to_action.csv', index=False)

In [78]:
# Drop the 'video_url' column as it's not needed for the calculation
df_for_kappa = df_pivot.drop(columns=['video_url', 'comment'])

# The DataFrame must have counts of each rating for each item, so it should be correct now.
# Let's make sure it's in the right format
df_for_kappa = df_for_kappa.apply(pd.value_counts, axis=1).fillna(0)

# Now calculate Fleiss' Kappa
kappa = fleiss_kappa(df_for_kappa)

print('Fleiss Kappa:', kappa)

Fleiss Kappa: 0.4404305407433739

In [79]:
import krippendorff

df_for_alpha = df_pivot.drop(columns=['video_url'])

# The DataFrame for Krippendorff's Alpha should be in the format of:
# rows are units, columns are raters, and cells contain the ratings
df_for_alpha = df_for_alpha.set_index('comment')

# Now we'll prepare the data in the correct format for krippendorff.alpha
# Convert the DataFrame to a format where each row is an item and each column is a rater's scores
alpha_data = df_for_alpha.T.to_numpy()

# Calculate Krippendorff's Alpha for nominal metric
alpha = krippendorff.alpha(alpha_data, level_of_measurement='nominal')

print('Krippendorff\'s Alpha:', alpha)

Krippendorff's Alpha: 0.44050927571723875

In [80]:
df_alpha_ca = new_df[['video_url', 'comment', 'call_to_action']]
df_alpha_ca['call_to_action'] = df_alpha_ca['call_to_action'].replace({'No': 0, 'Yes': 1})
df_alpha_ca['Call Count'] = df_call.groupby(['video_url', 'comment']).cumcount() + 1
value_counts = df_alpha_ca['call_to_action'].value_counts()
value_counts

call_to_action
0    6525
1     582
Name: count, dtype: int64

In [81]:
import simpledorff

simpledorff.calculate_krippendorffs_alpha_for_df(df_alpha_ca,experiment_col='comment',
                                                 annotator_col='Call Count',
                                                 class_col='call_to_action')

0.44044609198821194

In [82]:
# Drop the non-numeric 'video_url' column and 'comment' as they are not needed for agreement calculation
df_agreement = df_pivot.drop(columns=['video_url', 'comment'])

# Count the number of items with unanimous agreement (all 0s or all 1s)
full_agreement = df_agreement[(df_agreement == 0).all(axis=1) | (df_agreement == 1).all(axis=1)].shape[0]

# Count the number of items with partial agreement (at least two raters in agreement)
partial_agreement = df_agreement[(df_agreement.sum(axis=1) >= 1) & (df_agreement.sum(axis=1) <= 2)].shape[0]

# Calculate the total number of items
total_items = df_agreement.shape[0]

# Calculate the percentage of total agreement
percentage_of_full_agreement = (full_agreement / total_items) * 100

# Optionally, calculate the percentage of partial agreement
percentage_of_partial_agreement = (partial_agreement / total_items) * 100

print(f'Percentage of Full Agreement: {percentage_of_full_agreement:.2f}%')
print(f'Percentage of Partial Agreement: {percentage_of_partial_agreement:.2f}% (at least two raters agree)')

Percentage of Full Agreement: 87.38%
Percentage of Partial Agreement: 12.62% (at least two raters agree)